<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %} Gestion des étudiants {% endblock %}</title>
	<link rel="stylesheet" type = "text/css" href ="{{asset('CSS/style.css')}}" />
</head>
<body >
<div class="top">
<img src='{{asset("images/fsdm.jpg")}}' border='0' hspace='20' vspace='20' align='left' />
<span class="top">SMI6</span><br />
Faculté des Sciences Dhar Mehraz, Fès </div>

<h4> {{ "now"| date("d/m/Y") }} </h4><br /><br />

 